<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Basic Contest Information</a>
      </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <form>
                    <fieldset class="form-group">
                        <label for="contestName">The contest's Name </label>
                        <input type="text" class="form-control" placeholder="Big Den Bosch Tour 2016!" value="{{name}}" name="contestName" disabled>
                    </fieldset>
                    <input type="hidden" name="contestId" value="{{id}}" />
                    <input type="hidden" id="userName" name="userName" value="{{userName}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Basic Trip Information</a>
      </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <form>
                    <fieldset class="form-group">
                        <label for="tripName">The trip's Name </label>
                        <input type="text" class="form-control" placeholder="Big Den Bosch Tour" value="{{trip.name}}" name="tripName" disabled>
                    </fieldset>
                    <input type="hidden" name="tripId" value="{{trip._id}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Locations
            </h4>
        </div>

        <div class="panel-body">
            <div class="list-group filterable">
                {{#each trip.route}}
                    <div class="list-group-item filter-item">
                        <div class="input-group">
                            <h4 class="search">{{name}}</h4>
                            <span class="input-group-btn">
                                <button id="{{name}}" data-url="locations/{{_id}}/visits" class="btn btn-success checkinOnClick">Check it in</button>
                            </span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
<!-- Niet af -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Latest check-in
            </h4>
        </div>

        <div class="panel-body">
            <div id="messages" class="list-group filterable">

            </div>
        </div>
    </div>
<!-- / Niet af-->
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.on('userCheckin', function(msg){
        $('#messages').html($('<span>').text(msg));
    });
    $('.checkinOnClick').on('click', function() {
        console.log("check");
        var clickedButton = $(this);
        var url = clickedButton.data('url');
        var location = $(this).attr("id");
        var user = $("#userName").attr("value");
        $.ajax({
            url: url,
            type: 'POST',
            success: function() {
                console.log(user);
                socket.emit('userCheckin', user, location); 
                return false;
            }
        });
    });
</script>