<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Basic Trip Information</a>
      </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <form>
                    <fieldset class="form-group">
                        <label for="tripName">The trip's Name </label>
                        <input type="text" class="form-control" placeholder="Big Den Bosch Tour" value="{{name}}" name="tripName" disabled>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="tripDescription">Description</label>
                        <textarea name="tripDescription" class="form-control" rows="5" placeholder="Description of your trip..." disabled>{{description}}</textarea>
                    </fieldset>
                    <input type="hidden" name="tripId" value="{{id}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Locations
            </h4>
        </div>

        <div class="panel-body">
            <div class="list-group filterable">
                {{#each route}}
                    <div class="list-group-item filter-item">
                        <div class="input-group">
                            <h4 class="search">{{name}}</h4>
                            <span class="input-group-btn">
                                <button id="{{name}}" data-url="locations/{{_id}}/visits" class="btn btn-success checkinOnClick">Check it in</button>
                            </span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
<!-- Niet af -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Latest check-in
            </h4>
        </div>

        <div class="panel-body">
            <div id="messages" class="list-group filterable">

            </div>
        </div>
    </div>
<!-- / Niet af-->
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.on('userCheckin', function(msg){
        $('#messages').html($('<span>').text(msg));
    });
</script>