<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Basic contest Information
            </h4>
        </div>
    <div class="panel-body">
        {{#if id}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Add route
                    </h4>
                </div>
                <div class="panel-body">
                    <input type="hidden" id="contestId" name="contestId" value="{{id}}" />
                    <div id="planning-to-add" class="filterable top-buffer">
                </div>
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script>
            $(document).ready(findPlanning());
        </script>
        {{else}}
            <form action="./" autocomplete="off" method="POST">
                <fieldset class="form-group">
                    <label for="contestName">The contest's Name </label>
                    <input type="text" class="form-control" placeholder="Big Den Bosch Tour" value="{{name}}" name="contestName" required="true">
                </fieldset>
                <fieldset class="form-group">
                    <label for="contestDescription">Description</label>
                    <textarea name="contestDescription" class="form-control" rows="5" placeholder="Description of your contest...">{{description}}</textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="contestStartDate">Starts</label>
                    <input id='startDate' type="text" class="form-control" placeholder="30-03-2016" value="{{startDate}}" name="contestStartDate" required="true">
                </fieldset>
                <fieldset class="form-group">
                    <label for="contestEndDate">Ends</label>
                    <input id='endDate' type="text" class="form-control" placeholder="31-03-2016" value="{{endDate}}" name="contestEndDate" required="true">
                </fieldset>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        {{/if}}
        </div>
    </div>
</div>

