<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Basic Trip Information</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        {{#if id}}
            <form action="./{{id}}" autocomplete="off" method="POST">
        {{else}}
            <form action="./" autocomplete="off" method="post">
        {{/if}}
              <fieldset class="form-group">
                <label for="tripName">The trip's Name </label>
                <input type="text" class="form-control" placeholder="Big Den Bosch Tour" value="{{name}}" name="tripName">
              </fieldset>
              <fieldset class="form-group">
                <label for="tripDescription">Description</label>
                <textarea name="tripDescription" class="form-control" rows="5" placeholder="Description of your trip...">{{description}}</textarea>
              </fieldset>
              <input type="hidden" name="tripId" value="{{id}}" />
              <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
      </div>
    </div>
  </div>
  {{#if id}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Show/Remove Locations
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="list-group filterable">
            {{#each route}}
            <div class="list-group-item filter-item">
              <div class="input-group">
                <h4 class="search">{{name}}</h4>
                <span class="input-group-btn">
                  <button data-url="./{{../id}}/locations/{{_id}}" class="btn btn-danger removeOnClick">Remove</button>
                </span>
              </div>
            </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Add Locations
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Locations like 'Den Bosch' or 'Utrecht'" id="locationInput">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" id="searchLocationsButton">Search for Locations</button>
          </span>
        </div>
        <input type="text" class="form-control filterInput" placeholder="Filter locations...">
        <form action="./{{id}}/locations" autocomplete="off" method="POST">
          <div id="locations-to-add" class="filterable top-buffer">
          </div>
          <button class="btn btn-warning btn-block top-buffer hidden" type="search" id="load-more">Load More!</button>
          <button type="submit" class="btn btn-primary top-buffer pull-right" data-token="">Add Selected</button>
        </form>
      </div>
    </div>
  </div>
  {{/if}}
</div>
