<div>
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control filterInput" placeholder="Filter trips...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" class="filterButton">Filter!</button>
            </span>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="list-group filterable">
            {{#each contests}}
                <div class="list-group-item filter-item">
                    <div class="input-group">
                        <h4 class="search">{{name}}</h4>
                        <span class="input-group-btn">
                            {{#unless contestLocationPlanning}}
                                <a href="./{{_id}}" class="btn btn-warning">Add planning</a>
                            {{/unless}}
                            <button data-url="./{{_id}}" class="btn btn-danger removeOnClick">Remove</button>
                        </span>
                    </div>
                    <span>
                        {{description}}<br><br>
                        <b>Start:</b> {{startDate}}<br>
                        <b>Eindigt:</b> {{endDate}}
                    </span>
                </div>
            {{/each}}
        </div>
        <a href="contest/new-contest" class="btn btn-primary pull-right btn-lg">Create a New Contest</a>
    </div>
</div>


