
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <h1>User is has {{user.role}} privileges.</h1>

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            {{#if user.local.email}}
                <p>
                    <strong>id</strong>: {{ user._id }}<br>
                    <strong>email</strong>: {{ user.local.email }}<br>
                    <strong>password</strong>: {{ user.local.password }}
                </p>

                <button data-url="/auth/local" class="btn removeOnClick" data-refresh="true">Unlink</button>
            {{else}}
                <a href="/auth/local/addition" class="btn btn-default">Connect Local</a>
            {{/if}}

        </div>
    </div>

    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

            <!-- check if the user has this token (is the user authenticated with this social account) -->
            {{#if user.facebook.token}}
                <p>
                    <strong>id</strong>: {{ user.facebook.id }}<br>
                    <strong>token</strong>: {{ user.facebook.token }}<br>
                    <strong>email</strong>: {{ user.facebook.email }}<br>
                    <strong>name</strong>: {{ user.facebook.name }}<br>
                </p>
                <button data-url="/auth/facebook" class="btn btn-primary removeOnClick" data-refresh="true">Unlink</button>
            {{else}}
                <a href="/auth/facebook" class="btn btn-primary">Connect Facebook</a>
            {{/if}}

        </div>
    </div>
</div>

<div class="row">

    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

            <!-- check if the user has this token (is the user authenticated with this social account) -->
            {{#if user.google.token}}
                <p>
                    <strong>id</strong>: {{ user.google.id }}<br>
                    <strong>token</strong>: {{ user.google.token }}<br>
                    <strong>email</strong>: {{ user.google.email }}<br>
                    <strong>name</strong>: {{ user.google.name }}
                </p>

                <button data-url="/auth/google" class="btn btn-danger removeOnClick" data-refresh="true">Unlink</button>
            {{else}}
                <a href="/auth/google" class="btn btn-danger">Connect Google</a>
            {{/if}}

        </div>
    </div>
</div>

</div>
