    <input type="hidden" id="userName" name="userName" value="{{userName}}" />
    <h4>
        Personal status:
    </h4>
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Latest check-in
                </h4>
            </div>

            <div class="panel-body">
                <div id="messages" class="list-group filterable">
                </div>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{contest.name}}
            </h4>
        </div>

        <div class="panel-body">
            <div class="list-group filterable">
                <h4 class="panel-title">
                    Locations visited:
                </h4>
                <div id="visited">
                    {{#each locationsVisited}}
                        <div class="list-group-item filter-item">
                            <div class="input-group">
                                <span>
                                    <b>{{this}}</b>
                                </span>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        
        <div class="panel-body">
            <div class="list-group filterable">
                <h4 class="panel-title">
                    Locations yet to visit:
                </h4>
                {{#each locationsToGo}}
                    <div class='tovisit'>
                        <div class="list-group-item filter-item">
                            <div class="input-group">
                                <h4 class="search">{{name}}</h4>
                                <span class="input-group-btn">
                                    <button id="{{name}}" data-url="../../../contest/{{../contest._id}}/planner/{{../contest.contestLocationPlanning._id}}/locations/{{_id}}/visits" class="btn btn-success checkinOnClick">Check in</button>
                                </span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.on('userCheckin', function(msg){
        $('#messages').html($('<span>').text(msg));
    });
    /*$('.checkinOnClick').on('click', function() {
        console.log("check");
        var clickedButton = $(this);
        var url = clickedButton.data('url');
        var location = $(this).attr("id");
        var user = $("#userName").attr("value");
        $.ajax({
            url: url,
            type: 'POST',
            success: function() {
                console.log(user);
                socket.emit('userCheckin', user, location); 
                return false;
            }
        });
    });*/
</script>