<h1>{{title}}</h1>

<div class="row">
  <div class="input-group">
    <input type="text" class="form-control filterInput" placeholder="Filter trips...">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" class="filterButton">Filter!</button>
    </span>
  </div>
</div>

<div class="row top-buffer">
  <div class="list-group filterable">
    {{#each contests}}
    <div class="list-group-item filter-item">
      <div class="input-group">
        <h4 class="search">{{name}}</h4>
        <span class="input-group-btn">
          <a href="{{../playerId}}/contests/{{_id}}" class="btn btn-primary">{{status}}</a>
          <button data-url="{{../playerId}}/contests/{{_id}}" class="btn btn-danger removeOnClick">Unsubscribe</button>
        </span>
      </div>
      <span>{{description}}<br>
            Start: {{startDate}}<br />
            Eindigt: {{endDate}}</span>
    </div>
    {{/each}}
</div>
<a href="../../player/{{playerId}}/contests" class="btn btn-primary pull-right btn-lg">Subscribe to Another Contest</a>
